<div class="object question" data-object-class="question" data-object-id="<%= question.to_param %>">

  <div>
    <span class="attribute" data-attribute-name="order">
      <%= question.order %>)
    </span>
    <span class="attribute" data-attribute-name="text">
      <%= truncate(question.text, length: 50) %>
    </span>
  </div>

  <%= link_to t('.edit'), edit_quiz_question_path(question.quiz, question), remote: true if can? :edit, question %>

</div>

