<%= heading 'Are you smarter than X?' %>
<h2>Answer questions to find out how good your insight is</h2>

<div class="row column column-three-quarters center">
  <div class="column column-half">
    <section class="hero">
      <%= image_tag 'quiz_preview.png' %>
    </section>
  </div>

  <div class="column column-half">
    <section class="important">
      <h1>How it works</h1>
      <p>
        You will see descriptions of interventions...
      </p>
      <p>
        You will give answers...
      </p>
    </section>
    <section class="important">
      <h1>Why it's good</h1>
      <p>
        Get to find out whether people are good at this...
      </p>
      <p>
        Identify those few people who are consistently better...
      </p>
      <p>
        See if they have a different way of thinking...
      </p>
    </section>
  </div>
</div>

<% if @first_quiz -%>
<section class="row get-started">
  <h1>Ready for question 1?</h1>
  <%= link_to new_quiz_question_response_path(@first_quiz, @first_quiz.questions.first), class: 'button' do %>
    <i class="icon-circle-arrow-right"></i> Start!
  <% end -%>
</section>
<% end -%>
