<%= heading 'Are you smarter than X?' %>
<h2>Answer questions to find out how good your insight is</h2>

<div class="column column-half">
  <section>
    <h1>How it works</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, sapien sed rutrum eleifend, mauris diam congue lacus, id convallis dui elit sit amet nisl. Pellentesque nec sodales neque. Sed auctor suscipit nibh eget mattis. Integer a erat sem. Duis sagittis, ipsum vel euismod posuere, felis nunc tempus felis, in porta leo neque tincidunt risus. Curabitur sagittis nunc gravida dolor tempus dignissim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec luctus, diam ac dignissim dapibus, neque lacus facilisis diam, at faucibus massa neque ut urna.
    </p>
  </section>
</div>

<div class="column column-half">
  <section>
    <h1>How it works</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, sapien sed rutrum eleifend, mauris diam congue lacus, id convallis dui elit sit amet nisl. Pellentesque nec sodales neque. Sed auctor suscipit nibh eget mattis. Integer a erat sem. Duis sagittis, ipsum vel euismod posuere, felis nunc tempus felis, in porta leo neque tincidunt risus. Curabitur sagittis nunc gravida dolor tempus dignissim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec luctus, diam ac dignissim dapibus, neque lacus facilisis diam, at faucibus massa neque ut urna.
    </p>
  </section>
  <section>
    <h1>Why it's good</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum congue, sapien sed rutrum eleifend, mauris diam congue lacus, id convallis dui elit sit amet nisl. Pellentesque nec sodales neque. Sed auctor suscipit nibh eget mattis. Integer a erat sem. Duis sagittis, ipsum vel euismod posuere, felis nunc tempus felis, in porta leo neque tincidunt risus.
    </p>
  </section>
</div>

<section class="row get-started">
  <h1>Ready for question 1?</h1>
  <button>
    <i class="icon-circle-arrow-right"></i> Start!
  </button>
</section>
