// Pervasive quick animation to give a consistent 'feel'.
a,
input
{
  // Compatible browsers will animate these style changes.
  transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -o-transition: all 0.1s;
  -ie-transition: all 0.1s;
}
