// Pervasive quick animation to give a consistent 'feel'.
*
{
  // Compatible browsers will animate these style changes.
  transition: all 0.2s;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ie-transition: all 0.2s;
}
