// These styles only get applied when we need to see what's going on.
html.debug-css {

  // Show top-level elements against the browser background.
  background: #AAA;
  #page { background: #FFF; }
  header { background: #DDD; }
  footer { background: #DDD; }

  .column {
    border: 1px solid cyan;
  }

  #page section { background: #FFD; }
  #page header { background: #DDA; }
  #page footer { background: #DDA; }
}

@media screen and (max-width: 1200px) { // 1152 getting cramped, so 960 grid now.
  html.debug-css {
    background: #AAF;
  }
}

@media screen and (max-width: 960px ) { // 960 won't fit, so halve it.
  html.debug-css {
    background: #AFA;
  }
}

@media screen and (max-width: 480px) { // Now revert to single-column.
  html.debug-css {
    background: #FAA;
  }
}
