.site.index {
  .page
  {
    h1,
    h2
    {
      text-align: center;
    }
  }
  .wrapper
  {
    width: 600px;
  }
  section.hero
  {
    text-align: center;
  }
  section.get-started
  {
    margin-top: 30px;
    text-align: center;
  }
}
