// Copied from http://fonts.googleapis.com/css?family=Delius
@font-face {
  font-family: 'Delius';
  font-style: normal;
  font-weight: 400;
  src: local('Delius-Regular'), url(http://themes.googleusercontent.com/static/fonts/delius/v3/brLBPBAUw-PpA7n74Uo__uvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

//h1,
//h2,
//h3,
//h4,
//h5,
//h6
* {
  font-family: 'Delius', cursive;
}

h1 { font-size: 36px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 14px; }
h5 { font-size: 12px; }
h6 { font-size: 11px; }

section {
  h1 { font-size: 18px; }
  h2 { font-size: 14px; }
  h3 { font-size: 12px; }
  h4 { font-size: 11px; }
  h5 { font-size: 11px; }
  h6 { font-size: 11px; }
}

